#ifndef SECRETS_H
#define SECRETS_H

// WiFi Credentials
const char* WIFI_SSID = "YOUR_WIFI_SSID_HERE";
const char* WIFI_PASSWORD = "YOUR_WIFI_PASSWORD_HERE";

// Telegram Bot Token
const char* TELEGRAM_BOT_TOKEN = "YOUR_TELEGRAM_TOKEN_STRING";


#endif // SECRETS_H
